<div class="card">
  <div class="row">
    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
      <div class="card-body cc-education-header">
        <p>{{education.dateInit | date:'MMMM y'}} -
          {{(education.dateFinish === null ? 'current': education.dateFinish |date:'MMMM y')}}</p>
        <div class="h5">{{education.grade}}</div>
      </div>
    </div>
    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
      <div class="card-body">
        <div class="h5">{{education.gradeSchool}}</div>
        <p class="category">{{education.school}}</p>
        <p>
          {{education.descripcion}}
        </p>
      </div>
    </div>
  </div>
</div>
