/* You can add global styles to this file, and also import other style files */
/* Absolute Center Spinner */
@import "assets/css/main";
.my-overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: var(--background-card);
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
  font-size: 100px !important;
}
